:root {

  --text: #111409;
--background: #fafbf6;
--primary: #a0b760;
--secondary: #99d1bb;
--accent: #83c7c7;

}


a {
color: var(--text);
background-color: transparent;

}

/* Transparent er å ta vekk CSS fra den delen du velger 
A er det med bokstaven av i, som den da leiter etter

*/




button {
  background-color: var(--primary);
  font-size: xx-large;
  flex-direction: row;
  gap: 10px;
  color: var(--text);
  display: flex;
  justify-content: center;

}

.rounded {
  border-radius: 12px;
}

.text-large {
  font-size: x-large;
}


.padding-medium {
  padding: 2rem;
}

* {

  background-color: var(--background)
}

nav{

  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*
Forandre farge bak linker 
*/

main{

  display: flex;
  align-items:first baseline;
  justify-content: space-around;
}

div {
align-items: center;
display: flex;
justify-content: end;

}